.features {
<<<<<<< HEAD
  background: url(./dist/img/features/background-features.png);
}
.features__container {
  display: flex;
=======
  background: #f4f4f4;
  @media (max-width: 992px) {
    background: #fff;
  }
  @media (max-width: 768px) {
    background: #fff;
  }
}
.features_container {
  position: relative;
>>>>>>> 27e1e7460632a1d3b2a5288d20590b783a41057e
}
.features__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
<<<<<<< HEAD
  color: $main-color-purple-light;
  order: 1;
=======
  color: #8d81ac;
  text-align: center;
  margin-bottom: 0;
  // padding-top: 95px;
  position: absolute;
  right: -50px;
  top: 50px;
>>>>>>> 27e1e7460632a1d3b2a5288d20590b783a41057e

  &::before {
    content: "<";
  }
  &::after {
    content: ">";
  }
<<<<<<< HEAD
}
.features__list {
  //   width: 47%;
}
.features__item {
}
.features__item-img {
}
.features__item-box {
}
.features__item-box-title {
}
.features__item-box-info {
}
.features__footer {
  order: 2;
=======
  @media (max-width: 1170px) {
    right: 5px;
    top: 50px;
    font-size: 39px;
    line-height: 39px;
  }
  @media (max-width: 1000px) {
    right: -25px;
    top: 50px;
  }
  @media (max-width: 992px) {
    position: static;
    font-size: 42px;
    line-height: 42px;
    padding-top: 60px;
  }
  @media (max-width: 320px) {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
  }
}
.features__web-list {
  list-style: none;
  padding-left: 0;
  padding-top: 100px;
  padding-bottom: 70px;
  width: 50%;
  @media (max-width: 1084px) {
    width: 55%;
  }
  @media (max-width: 992px) {
    margin-top: 0;
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 600px;
    width: 100%;
  }

  @media (max-width: 768px) {
    margin-top: 0;
    padding-top: 50px;
    padding-left: 0;
    padding-bottom: 600px;
    width: 100%;
  }
}

.features__web-item {
  display: flex;
  justify-content: space-between;

  @media (max-width: 480px) {
    display: block;
    text-align: center;
  }
}
.features__web-boximg-container {
  width: 30%;
  margin-bottom: 50px;
  @media (max-width: 480px) {
    width: 100%;
  }
}
.features__web-img {
  margin: 0 auto;
}
.features__web-box {
  // margin-left: 5px;
  width: 70%;

  @media (max-width: 768px) {
    width: 100%;
  }
}
.features__web-item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #323232;
  margin: 0;

  @media (max-width: 480px) {
    line-height: 21px;
  }
}
.features__web-item-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848e97;
}

.features__img {
  position: absolute;
  bottom: 75px;
  right: -150px;
  @media (max-width: 1170px) {
    bottom: 75px;
    right: -210px;
  }
  @media (max-width: 1070px) {
    bottom: 75px;
    right: -210px;
  }
  @media (max-width: 993px) {
    bottom: 120px;
    right: 0px;
  }

  @media (max-width: 768px) {
    bottom: 120px;
    right: 0px;
  }
>>>>>>> 27e1e7460632a1d3b2a5288d20590b783a41057e
}
