.features {
  background: #f4f4f4;
  position: relative;
  padding-top: 98px;
  padding-bottom: 33px;
  @media (max-width: 992px) {
    background: $main-color-light;
    padding-top: 62px;
    padding-bottom: 730px;
  }
  @media (max-width: 890px){
    padding-bottom: 670px;
  }
  @media (max-width: 780px){
    padding-bottom: 620px;
  }
  @media (max-width: 670px){
    padding-bottom: 510px;
  }
  @media (max-width: 480px){
    padding-top: 32px;
    padding-bottom: 380px;
  }
  @media (max-width: 320px){
    padding-bottom: 280px;
  }
}
.features__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
 column-gap: 49px;
  @media (max-width: 992px){
    grid-template-columns: 1fr;
  }
}
.features__title {
  font-weight: 700;
  @include fz(48,32);
  line-height: 104%;
  color: $main-color-purple-light;
  margin: 0;
  order: 1;
  padding-left: 0;
  &::before {
    content: "<";
  }
  &::after {
    content: ">";
  }
  @media (max-width: 992px) {
    order: 0;
    margin-bottom: 50px;
    text-align: center;
  }
  @media (max-width: 480px) {
    padding-left: 0;
    margin-bottom: 36px;
  }
}
.features__web-list {
  padding-left: 0;
  margin: 0;
}
.features__web-item {
  display: flex;
  margin-bottom: 35px;
  @media (max-width: 480px) {
    display: block;
  }
}
.features__web-box{
  @media (max-width: 480px){
    text-align: center;
  }
}
.features__web-img {
  min-width: 100px;
  object-fit: contain;
  margin-right: 20px;
  @media (max-width: 480px) {
    margin: 0 auto;
  }
}
.features__web-item-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $main-color-dark;
  margin: 0;
  @media (max-width: 480px) {
    margin-top: 25px;
  }
}
.features__web-item-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $main-color-gray;
  width: 100%;
}
.features__img {
  position: absolute;
  right: 0;
  width: 50%;
  object-fit: cover;
  object-position: left top;
  top: 151px;
  @media (max-width: 992px){
    width: 100%;
    bottom: 0;
    height: auto;
    top: auto;
  }
}
