.pricing {
  background: url(../img/background-pricing.png) center/cover no-repeat;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 93px;
}
.pricing__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 61px;
  color: $main-color-light;
  @media (max-width: 992px){
    font-size: 42px;
    line-height: 44px;
  }
  @media (max-width: 480px) {
    font-size: 26px;
    line-height: 28px;
  }
}
.pricing__list {
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  align-items: center;
  margin: 0;
  @media (max-width: 1065px) {
   column-gap: 10px;
  }
  @media (max-width: 992px) {
    grid-template-columns: max-content max-content;
    column-gap: 25px;
    row-gap: 30px;
    justify-content: center;
  }
  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    row-gap: 18px;
    justify-items: center;
  }
}
.pricing__item {
  background: #6f5761;
  padding-bottom: 42px;
  min-height: 457px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 992px) {
    max-width: 257px;
  }
}
.pricing__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-color-light;
  background: #7a6c7a;
  padding-top: 35px;
  padding-bottom: 35px;
  margin: 0;
  width: 100%;
}
.pricing__item-price {
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  text-transform: uppercase;
  color: $main-color-light;
  margin-top: 30px;
  margin-bottom: 20px;
  
  @media (max-width: 480px){
    font-size: 60px;
    line-height: 62px;
  }
}
.pricing__item-month {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $main-color-light;
  margin-bottom: 79px;
  position: relative;
  margin-top: 0;
  &::before {
    content: "";
    width: 60px;
    height: 5px;
    background: #8d81ac;
    position: absolute;
    top: 35px;
    left: 40%;
  }
}
.pricing__item-licence {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $main-color-light;
}
.pricing__item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: $main-color-light;
  background: #7a6c7a;
  padding: 15px 37px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-top: auto;
}
.item-correct {
  min-height: 560px;
  background: #463048;
  mix-blend-mode: normal;
  opacity: 0.84;
  @media (max-width: 992px) {
    max-width: 299px;
  }
}
.correct-title {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #3f2c41;
}
.correct-price {
  font-size: 82px;
  margin-top: 15px;
}
.correct-licence {
  margin-bottom: 80px;
  max-width: 70%;
}
