.pricing {
  background: url(../img/background-pricing.png) center/cover no-repeat;
  height: 1000px;
  text-align: center;
}
.pricing__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  margin: 0;
  color: $main-color-light;
}
.pricing__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  gap: 15px;
}
.pricing__item {
  border: 1px solid yellow;
}
.pricing__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $main-color-light;
}
.pricing__item-price {
  font-weight: 400;
  font-size: 60px;
  line-height: 90px;
  text-transform: uppercase;
  color: $main-color-light;
}
.pricing__item-month {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $main-color-light;
}
.pricing__item-licence {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $main-color-light;
}
.pricing__item-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: $main-color-light;

  padding: 15px 37px;
  border-radius: 30px;
  border: 1px solid gold;
  margin-bottom: 10px;
}
