.revolutionary-editor {
  text-align: center;
  padding-top: 129px;
  padding-bottom: 70px;
  @media (max-width: 480px){
    padding-top: 130px;
    padding-bottom: 98px;
  }
  @media (max-width: 992px){
    padding-top: 156px;
    padding-bottom: 88px;
  }
}
.revolutionary-editor__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1;
  text-transform: uppercase;
  color: $main-color-purple-dark;
  margin-top: 0;
  margin-bottom: 35px;
  @media (max-width: 992px){
    font-size: 42px;
  }
  @media (max-width: 480px) {
    font-size: 26px;
  }
}
.revolutionary-editor__info {
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-size: 21px;
  line-height: 32px;
  color: $main-color-dark;
  margin-top: 0;
  margin-bottom: 13px;
  max-width: 861px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 992px){
    margin-bottom: 24px;
    max-width: 689px;
  }
  @media (max-width: 480px) {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 36px;
  }
}
.revolutionary-editor__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  gap: 10px;
  margin-top: 0;
}
.revolutionary-editor__item {
  display: flex;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #d9d9d9;
}
.revolutionary-editor__item-link {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  background-color: #f4f4f4;
  padding: 3px 10px;
  color: $main-color-dark;
}
.revolutionary-editor__item-link-svg {
  display: inline-block;
  vertical-align: middle;
}
.revolutionary-editor__item-score {
  border-left: 1px solid #d9d9d9;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  padding: 3px 10px;
  color: $main-color-dark;
}
